{% extends '::base.html.twig' %}
{% block body -%}
    <h1>My bookcase</h1>

    <table style="margin-top: 20px" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publicationdate</th>
                <th>Introduction</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="border-bottom: 1px solid #ddd">
                {#<td><a href="{{ path('book_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>#}
                <td>{{ entity.title }}</td>
                <td>{{ entity.author }}</td>
                <td>{% if entity.publicationDate %}{{ entity.publicationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.introduction }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul style="padding-left: 0px;">
                    <li style="list-style-type:none">
                        <a href="{{ path('book_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li style="list-style-type:none">
                        <a href="{{ path('book_show', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul style="padding-left: 10px;">
        <li style="list-style-type:none;">
            <a href="{{ path('book_new') }}">
                Add book
            </a>
        </li>
    </ul>
    {% endblock %}
